$gray_border: #ddd;
$dark_gray_border: #ddd;
$gray_dark: #555;
$gray_light: #eee;

$body_background_color: #000;
$gray_button_background: #D3DFE4;
$body_text_color: #fff;

$primary_color: #00b4ff;
$primary_color_light: #6cd4ff;
$primary_color_text_overlay: white;

$secondary_link_color: #08121F;
$primary_light_background: #F5F8FA;
