@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,200,300,400');

$primary_body_font: "Open Sans", Arial;
$primary_header_font: "Roboto", Arial;
$primary_nav_font: "Roboto", Arial;